$color-principal:#03aaba;
$color-segundario:#fea003 ; 



$font-family: "OpenSans", Helvetica, Arial, sans-serif;


$color-1:#23ccc7; // verde agua
$color-2:#dfbd42; // amarillo
$color-3:#e95728; // naranja
$color-4:#b077d8; // violeta
$color-5:#2775a3; // azul
$color-6:#039cdf; // celeste
