/* footer */
footer {
	// background-color: #ddd;
	padding-top: 3%;
	// padding-left: 3%;
	padding-bottom: 5%;
	// padding-right: 3%;
	margin-top: 0 !important;
	background: #fff;
	color: #555;
	//border-top: 1px solid grey
}

.logo-footer {
	padding: 0 0 0 15px;
}

footer p {
	font-size: 0.85em;
	color: #666;
}

footer a {
	font-size: 0.85em;
	color: #666;
}

.footer-inside {
	line-height: 0;
}

footer .links-rel ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

footer .links-rel li {
	margin: 15px 0;
}

footer .links-rel li:nth-child(1) {
	margin-top: 0;
}

/* Pie municipio */
.footer-municipio {
	padding-top: 30px
}

/* Pie institucional */
.footer-institucional {
	border-top: 1px solid #ddd;
	padding: 15px 0;
	margin-top: 30px;

	.logo-pais-digital,
	.logo-ministerio-modernizacion {
		display: block;

		img {
			height: 60px;
		}

	}

	.logo-ministerio-modernizacion {
		text-align: right;
	}

}

@media (min-width:768px) and (max-width:992px) {

	/* Pie institucional */
	.footer-institucional {
		.logo-pais-digital,
		.logo-ministerio-modernizacion {
			img {
				text-align: center;
				margin: 15px auto;
				display: block;
			}

		}

	}

}

/* Pie de municipio */
.footer-municipio {
	.logo-municipio,
	.info-municipio {
		border-right: 1px solid #ddd
	}

	.logo-municipio,
	.info-municipio,
	.telefono_municipio {
		min-height: 90px;
		padding-top: 15px;
		padding-bottom: 15px;

		img {
			background: grey;
			border: none;
			padding: 0;
			max-height: 60px;
		}

	}

	.logo-municipio {
		text-align: right;
	}

	.info-municipio {
		font-size: 90%;
		text-align: center
	}

	.telefono_municipio {
	}

}

@media (min-width:768px) and (max-width:992px) {
	.footer-municipio {
		.logo-municipio,
		.info-municipio,
		.telefono_municipio {
			text-align: center;
			border: none;
		}

	}

}

/* Pie institucional */
.footer-institucional {
	border-top: 1px solid #ddd;
	padding: 15px 0;
	margin-top: 30px;

	.logo-pais-digital,
	.logo-ministerio-modernizacion {
		img {
			height: 60px;
		}

	}

}