@import 'config';
@import 'funciones';
@import 'shorcut';
@import 'footer';
@import 'carousel';
@import 'separador';
@import 'imagen-destacada-home';
@import 'misc';
@import 'grid-10-cols';
@import 'thumbnail';
@import 'menu-principal';

// @import 'redes-sociales'


.footer-organismo {
	.organismo-1,
	.organismo-2 {
		margin-bottom: 30px;
	}

	.organismo-2 {
		text-align: right !important;
	}

}

@media (min-width:768px) and (max-width:992px) {
	.footer-organismo {
		.organismo-1,
		.organismo-2 {
			text-align: center !important;
		}

	}

}