@import 'config';
@import 'funciones';
@import 'shorcut';
@import 'footer';
@import 'carousel';
@import 'separador';
@import 'redes-sociales';
// @import 'menu-principal';
@import 'imagen-destacada-home';

.nopadding {
	padding-left: 0 !important;
	padding-right: 0 !important;
}

.btn {
	font-family: inherit
}

.bg-grey {
	background-color: #fff
}

.main-container {
	&.container-fluid {
		padding-left: 0;
		padding-right: 0;
	}

}

.logo.navbar-btn {
	padding: 15px 0
}

/* Modificadores para las pastillas de noticias*/
.u-thumbnail.thumbnail {
	padding: 0;
	@include rounded(0);
	font-family: inherit;
	border: none;

	.img-thumbnail {
		border: none;
		padding: 0;
		@include rounded(6px);
	}

}

.mm-box {
	background-color: $color-principal;
	font-size: 1.5em;
	padding-left: 10px;
	line-height: 1.6;
	color: #fff;
	@include rounded(4px);
}

.navbar-collapse {
	padding-left: 0;
	padding-right: 0;
}

.region {
	&.region-navigation {
		position: absolute;
		right: 15px;
		top: 20px;
	}

}

/* NAVBAR modificado */
.navbar {
	background: transparent;
	margin-bottom: 5px;
}

.navbar-header {
	float: none;
}

.navbar-default {
	.navbar-nav {
		width: 100%;
		padding: 0 15px;
		background: $color-principal;
		@include rounded(6px);

		li a {
			padding-top: 10px;
			padding-bottom: 10px;
			text-transform: uppercase;

			&:hover {
				background: darken($color-principal, 5%);
				color: #fff;
				@include transition(.07s);
			}

		}

		.dropdown-menu > li > a {
			padding: 3px 15px !important;
		}

		& > .active {
			background-color: blue;

			& > a {
				background: lighten($color-principal, 2%);

				&:hover {
					background: darken($color-principal, 5%);
				}

				&:focus {
					background: darken($color-principal, 5%);
				}

			}

		}

	}

}

.navbar-toggle {
	@include rounded(0px);
	background: $color-principal;
	border-color: darken($color-principal, 1%);
}

@media (max-width:768px) {
	#block-widgets-s-socialmedia-profile-default {display: none}
	.navbar-default {
		padding: 15px;
		margin: 0;
	}

	.navbar-collapse {
		margin-left: 0 !important;
		padding-left: 15px;
	}

}

/* Separador */
.separator {
	&.linea {
		height: auto;
		padding: 30px 0;

		hr {
			display: block;
			margin: 0 !important;
			padding: 0 !important;
			height: 1px;
			background: #ddd;
		}

	}

}